@import "./test-1-page/index";
@import "./login-page/index";
@import "./grid-list-page/index";

body {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.hidden {
  display: none;
}
