.login {
  width: 500px;
  margin: auto;
  padding: 20px;

  .title {
    color: #0275d8;
  }

  .error {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: red;
  }

  .sign-in {
    float: right;
    cursor: pointer;
  }
}
