.cell-context-menu {
    .fa {
        padding: 4px 10px;
        float: right;
        cursor: pointer;
        position: relative;

        .menu-container {
            display: none;
            position: absolute;
            z-index: 1;
            min-width: 140px;

            &.show {
                display: block;
            }
        }
    }
}