<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>React-redux Skeleton</title>
    <%= htmlWebpackPlugin.options.stylesFile %>
</head>

<body>
    <div id="app" class="app"></div>
    <%= htmlWebpackPlugin.options.webpackDevServerJs %>
</body>

</html>