.slider {
    position: relative;

    $marker-size: 20px;

    .line {
        height: 2px;
        background-color: black;
    }

    .marker {
        position: relative;
        width: 1px;
        height: 1px;
        top: $marker-size / 2 * -1;

        & .body {
            cursor: pointer;
            border: 1px solid black;
            background-color: #fff;
            border-radius: 13px;
            width: $marker-size;
            height: $marker-size;
            position: absolute;
            left: $marker-size / 2 * -1;
        }
    }
}